body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 26px;
}

.row {
    margin: 0 !important;
}

.title {
    padding: 0 10px 20px 10px;
    font-weight: 100;
    font-size: 24px;
}
.btn {
    padding: 6px 12px;
    background-color: #FF4411;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: #FFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn:active{
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #FFF !important;
    text-decoration: none;
}

/*
* HEADER *
*/

header {
    padding: 15px;
    min-height: 90px;
    background: #FF4411;
    color: #FFF;
    text-align: center;
}

header img {
    margin: 0 auto
}


/*
* LOGIN *
*/

.login {
    padding: 40px 0;
    text-align: center;
    height: 600px;
}

.login form {
    margin-top: 20px;
}

.login .form-group {
    margin-bottom: 30px;
}

.login form .form-control:focus {
    border-color: #FF4411 !important;
    box-shadow: none;
}

.login h2 {
    text-align: center;
    margin-top: 20px;
}

.login input {
    display: block;
    outline: none;
    border: 1px solid #888;
    border-radius: inherit;
}
.login .btn {
    margin-bottom: 15px;
    width: 100%;
    border-color: #FF4411;
    border-radius: inherit;
    background-color: #FF4411;
    color: #FFFFFF;
    font-size: 18px;
}
/*
* PROJETS *
*/


H2
{
    text-align: center;
    
}




/*
* PROJETS *
*/
.project__header{
    padding: 20px 15px;
    border-bottom: 1px solid #777;
}
.project__header h5 {
    float: left;
    color: #FF4411;
    line-height: 5px;
}

.project__header-actions {
    display: block;
    float: none;
    margin-top: 0;
    padding: 0;
    text-align: right;
}

#project-list {
    margin-bottom: 60px;
}

#project-list table tr td {
    padding: 15px 10px;
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    vertical-align: middle;
}

#project-list .label-primary,
.badge-primary {
    background-color: #FF4411;
    color: #FFFFFF;
}

.project__title a {
    font-size: 14px;
    color: #676a6c;
    font-weight: 600;
}
.project__actions .btn {
    background: #FFF;
    color: #666;

}
.project__actions a:hover {
    color: #676a6c !important;
}
.project__member img {
    width: 32px;
    height: 32px;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}


/*
* FOOTER *
*/

footer {
    padding-bottom: 20px;
    color: #000;
    text-align: center;
    font-size: 18px;
}

.footer__language {
    margin-bottom: 20px;
    padding-bottom: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #FF4411;
    color: #777;
    font-size: 16px;
    cursor: pointer;
}

.footer__social {
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 20px;
}

.footer__social a {
    color: #FF4411;
}

.footer__social a:hover {
    color: #FF4411;
}

.footer__copyright {
    color: #666;
    font-size: 14px;
}

.footer__copyright a {
    text-decoration: none;
    color: #666;
}

.footer__copyright a:hover {
    color: #FF4411;
    text-decoration: none;
}


/*
* RESPONSIVE
*/

@media screen and (min-width: 480px) {
    .login {
        margin: 0 auto;
        max-width: 500px;
        width: 400px;
    }
}

@media screen and (max-width:480px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media screen and (max-width:768px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media only screen and (max-width:970px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}


/*
* A TRIER*
*/

.clicked {
    background-color: #CCBBAA;
    color: white;
}

.logoSogeti{
   max-width: 2OOpx;
}

.img {
    height: 90px;
    width: 78px;
}

.colorSogetiSecondary {
    background-color: #CCBBAA;
}

.textWhite {
    color: #FFFFFF;
}

.colorTextSogeti {
    color: #FF4411;
}

.navbar.navbar-static-top {
    background: #eee;
}

.section__home {
    margin-top: 200px;
    text-align: center;
    width: 100%;
    color: #000;
}

.form-signin-heading {
    text-align: center;
}

.nav navbar-nav {
    text-align: center;
}

.Res_soc {
    text-align: right;
}

#error {
    text-align: center;
    font-size: 20px;
    color: red;
}

.jumbotron {
    border: 5px solid;
    border-radius: 10%;
    border-bottom: inherit;
    border-top: inherit;
    border-color: #008844;
    background-color: #CCBBAA;
    min-height: 500px;
}

#projet1,
#projet2 {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.disabled {
    background-color: #BD6C4F;
}