<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			 
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <a href="http://www.fr.sogeti.com"><img class="logoSogeti" src="assets/img/logo.png"></a>
			<ul class="nav navbar-nav">

				 <li class="nav__profile">
		            <img src="/assets/img/a4.jpg" alt="" class="img__circle">
		            <h1>{{username}}</h1>
		         </li>
		         <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">User<span class="caret"></span><span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
		       
		               <ul class="dropdown-menu forAnimate" role="menu">
		                    <li><a [routerLink]="['Profil']">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
		                 <!--   <li><a href="contacts.html">Contacts</a></li>-->
		                    <li><a href="mailbox.html">Mailbox<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
		                    <li class="divider"></li>
		                    <li><a href=# (click)="logout()">Sign Out<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></li>
		                </ul>
		          
		        </li>


				<li><a  [routerLink]="['Home']">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				<li ><a [routerLink]="['Projects']">Projects<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-folder-open"></span></a></li>
				<li ><a [routerLink]="['Teams']">Teams<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Build <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#">All Build Plans</a></li>
							<li><a href="#">Build Activity</a></li>							
						</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Deploy<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#">All Deployments</a></li>
							<li><a href="#">Acivities</a></li>							
						</ul>
				</li>			
			</ul>
		</div>
	</div>
</nav>
<div class="wrap">
	<router-outlet></router-outlet>
</div>