<div class="row">
			<div class="col-sm-offset-3 col-sm-6 ">
			<h2>My profil</h2>
            
			  <div class="jumbotron">
                  
                     <div class="form-group">
            			<label class="col-sm-1 control-label" for="inputDefault">Name</label>
           				 <div class="col-sm-offset-1 col-sm-8">
                			<input type="text" class="form-control" id="inputDefault" placeholder="User1	(défini depuis le back office)">
            			</div><br><br><br>
       				 </div>
       				 <div class="form-group">
            			<label class="col-sm-1 control-label" for="inputDefault">Statut*</label>
           				 <div class="col-sm-offset-1 col-sm-8">
                			<input type="text" class="form-control" id="inputDefault" placeholder="READER (non modifiable)">
            			</div><br><br><br>
       				 </div>
                      <div><h4>&nbsp;&nbsp;&nbsp;My projects :</h4>&nbsp;&nbsp;(non modifiable car il est soit défini en front par le manager, sois depuis le BO par l’admin)</div><br>
                        
                        <div class="row">
			                <div class="col-sm-offset-1 col-sm-3 ">
                                 Projet A : (Si pas de projet, il faut en créer un avant)
                            </div>
                            <div class=" col-sm-3 ">
                                Projet B : (On peut lui assigner plusieurs projets)
                            </div>
			            </div>
                            
                       <br><br>                 
                       
                        
       				 <div class="form-group">
            			<label class="col-sm-1 control-label" for="inputDefault">Society</label>
           				 <div class="col-sm-offset-1 col-sm-8">
                			<input type="text" class="form-control" id="inputDefault" placeholder="SOGETI  (non modifiable depuis le FO)">
            			</div>
       				 </div>	<br><br>
                        <div class="languages">
                         <label class="col-sm-1 control-label">Language</label>
           				    <div class="col-sm-offset-1 col-sm-8">
                			
                           <a href="#">Français (France)</a>&nbsp &nbsp
                           <a href="#">English (Us)</a>
                            </div>
                         </div><br><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(Cliquer sur la langue pour changer)</em> <br><br>
                        
                 <div class="form-group">
                    <label  class="col-sm-1 control-label"  for="URL">Change password* </label>&nbsp;
                        <div class="col-sm-offset-1 col-sm-8">
                    <input type ="text" class="form-control" placeholder="Créer un formulaire classique qui demande deux fois l’ancien mdp avant de valider le changement, puis envoyer mail)">
                        </div>
				</div><br>
				<br>
              </div>			  
			</div>
		</div>
	
	 