<header class="container-fluid">
    <img class="img-responsive" src="assets/img/logo.png">
</header>
<div class="outer-outlet">
    <loggedin-router-outlet></loggedin-router-outlet>
</div>
<footer>
    <div class="footer">
        <language-chooser></language-chooser>
        <div class="footer__social">
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" arias-hidden="true"></i></a>
        </div>
        <div class="footer__copyright">
            <div class="row">
                Made with <i class="fa fa-heart" aria-hidden="true"></i> by <strong>SOGETI</strong>
            </div>
            <div class="row">
                <a href="/">{{'footer.copyright-notice' | translate}}</a> {{'footer.copyright-or' | translate}} <a href="/">{{'footer.copyright-contact' | translate }}</a>
            </div>
        </div>
    </div>-->
</footer>