<div class="container">
    <div class="project__header">
        <h2>{{'project.subtitle' | translate}}</h2>
        <div class="project__header-actions">
            <a [routerLink]="['CreateProject']" class="btn">{{'project.new' | translate}}</a>
        </div>
    </div>
    <div id="project__content">
        <div class="col-3" *ngFor="let project of projects_list">
            <div class="card">
                <div class="card__img">
                    <img src="/assets/img/office.jpg">
                </div>
                <div class="card__content">
                    <span class="card__title">{{project.nomProjet}}</span>
                    <small class="card__date">Created {{project.description}}</small>
                     <span class="card__title">{{project.credential}}</span>
                      <span class="card__title">{{project.frequence}}</span>
                       <span class="card__title">{{project.branche}}</span>
                        <span class="card__title">{{project.status}}</span>
                         <span class="card__title">{{project.url}}</span>
                      
                         
                         
                </div>
                <div class="card__action">
                    <a (click)="ViewProject(project)" class="btn"><i class="fa fa-eye" aria-hidden="true"></i> View </a>
                    <a (click)="deleteProject(project)" class="btn"><i class="fa fa-times" aria-hidden="true"></i> Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>