<div class="container">
    <div class="project__header">
        <h2>Create a project</h2><br>
    </div>
    <div class="project__content">
        <form class="form-horizontal" role="form" (ngSubmit)="CreateProject(nomProjet.value, description.value, status.value, branche.value, frequence.value, credential.value, url.value)">
            <div class="form-group">
                <label class="control-label" for="nomProjet">Name:</label>
                <input type="text" #nomProjet class="form-control" placeholder="nomProjet" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Description:</label>
                <textarea #description class="form-control" rows="3" colomns="3" id="description"></textarea>
            </div>
         <!--   <div class="form-group">
                <label class="control-label" for="description">Date début:</label>
                <input type="date" #date class="form-control" required>
            </div>-->
            <div class="form-group">
                <label class="control-label" for="status">status:</label>
                <input type="text" #status class="form-control" placeholder="status" required>
            </div>
             <div class="form-group">
                <label class="control-label" for="branche">branche:</label>
                <input type="text" #branche class="form-control" placeholder="branche" required>
            </div>
             <div class="form-group">
                <label class="control-label" for="frequence">frequence:</label>
                <input type="text" #frequence class="form-control" placeholder="frequence" required>
            </div>
             <div class="form-group">
                <label class="control-label" for="status">credential:</label>
                <input type="text" #credential class="form-control" placeholder="credential" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="status">url:</label>
                <input type="text" #url class="form-control" placeholder="url" required>
            </div>                    
            <div class="row">
                <div class="col-xs-offset-1 col-xs-4 col-sm-offset-1 col-sm-4"> 
                <button type="submit" class="btn">Submit</button>
                </div>
                <div class="col-xs-offset-2 col-xs-4  col-sm-4">       
                <button  class="btn">cancel</button>
                </div>      
            </div>  
        </form>
    </div>
</div>