<div class="container" >
    <form (ngSubmit)="SetProject(nomProjet.value, description.value,status.value, branche.value,
     frequence.value, credential.value, url.value)">
        <label class="control-label" for="nomProjet">nomProjet:</label>
        <input type="text" #nomProjet value="{{project.nomProjet}}" placeholder="{{project.nomProjet}}" >
        
        <label class="control-label" for="description">description:</label>
        <input type="text" #description value="{{project.description}}"  placeholder="{{project.description}}">
        
        <label class="control-label" for="status">status:</label>
        <input type="text" #status value="{{project.status}}"  placeholder="{{project.status}}">
        
        <label class="control-label" for="branche">branche:</label>       
        <input type="text" #branche value="{{project.branche}}"  placeholder="{{project.branche}}">
        
        <label class="control-label" for="frequence">frequence:</label>               
        <input type="text" #frequence value="{{project.frequence}}"  placeholder="{{project.frequence}}">
        
        <label class="control-label" for="credential">credential:</label>        
        <input type="text" #credential value="{{project.credential}}"  placeholder="{{project.credential}}">
        
        <label class="control-label" for="url">url:</label>        
        <input type="text" #url value="{{project.url}}"  placeholder="{{project.url}}">
        <button type="submit" class="btn">Submit</button>
    </form>
      <a class="btn" (click)="deleteProject()">delete</a> 
</div>