<!--<header class="container-fluid">
    <img class="img-responsive" src="assets/img/logo.png">
</header>-->
<div class="outer-outlet">
    <router-outlet></router-outlet>
</div>
<br><br>
<!--<footer>
    <div class="container">
        <language-chooser></language-chooser>
        <div class="footer__social">
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" arias-hidden="true"></i></a>
        </div>
        <div class="footer__copyright">
            <div class="row">
                Made with <i class="fa fa-heart" aria-hidden="true"></i> by <strong>Sogeti</strong>
            </div>
       </div>
    </div>
</footer>-->

