body,
html {
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}

home {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

.row {
    margin: 0 !important;
}

 ul li:hover ul.dropdown-menu {
        display: block; 
        position: absolute;
        z-index: 999;
         min-width: 100%; 
        background: #999966;
         color: white;
        text-decoration: white;
       
 }

 
 
 ul li a:hover{
        color: #fff;
        background: #BB3322;;
 
 }
.hidden {
    display: none;
}


.title {
    padding: 0 10px 20px 10px;
    font-weight: 100;
    font-size: 24px;
}

.btn {
    padding: 6px 12px;
    background-color: #FF4411;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #FFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

input[type=date],
input[type=text],
input[type=email],
input[type=password],
textarea {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    width: 100%;
     font-size: 2rem;
    margin: 0 0 15px 0;
    padding: 0;
}

textarea {
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #FFF !important;
    text-decoration: none;
}

/*HEADER RESPONSIVE*/

   

header {
    padding: 15px;
    min-height: 90px;
    background: #FF4411;
    color: #FFF;
    text-align: center;
}

header img {
    margin: 0 auto
}



	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
        position: fixed;
		border-radius: 0px;
	}
.img__circle {
    border-radius: 50%;
}

.logoSogeti{
   
   max-width: 200px;
}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px 10px 0 10px;
	}
    .nav__profile {
    background: #FF4411;
    text-align: center;
    color: #FFF;
}

.nav__profile h1 {
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
}

.nav__profile h2 {
    font-size: 14px;
}


/*
* CONTAINER GLOBALE*
*/

.wrap {
    position: relative;
    padding: 0 15px;
    width: 100%;
    height: auto;
}

.container {
    display: block;
    margin-top: 3rem;
    padding: 6px 12px;
    text-align: center;
}



/*
* LOGIN *
*/

.login {
    padding: 40px 0;
    text-align: center;
    height: auto;
}

.login form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 30px;
}

form .form-control:focus {
    border-color: #FF4411 !important;
    box-shadow: none;
}

.login h2 {
    text-align: center;
    margin-top: 20px;
}

.login .btn {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #FF4411;
    border-radius: inherit;
    background-color: #FF4411;
    color: #FFFFFF;
    font-size: 18px;
}


/*
* PROJETS *
*/

.project__header {
    padding: 20px 15px;
    border-bottom: 1px solid #777;
}

.project__header h2 {
    float: left;
    color: #FF4411;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
    line-height: 5px;
}
.create_member h2 {
    text-align: center;
    color: #FF4411;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
    line-height: 5px;
}

.project__header-actions {
    display: block;
    float: none;
    margin-top: 0;
    padding: 0;
    text-align: right;
}

#project__content {
    margin: 50px 0;
}



#Team__content .card,
#project__content .card {
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#project__content .card__img img {
    display: block;
    border-radius: 2px 2px 0 0;
    width: 100%;
}

#project__content .card__content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

#project__content .card__title {
    display: block;
    color: #E5554B;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 48px;
}

#project__content .card__date {
    color: #888;
    letter-spacing: 1px;
}

#Team__content .card__action,
#project__content .card__action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
    text-align: center;
}

#project__content .card__action .btn {
    margin: 0 5px;
}


/*
* TEAMS
*/

#Team__content .card__img {
    text-align: center;
}

#Team__content .card__img img {
    border-radius: 50%;
    width: 150px;
    height: 175px;
    padding: 20px 0;
}

#Team__content .card__content {
    padding: 0;
}

#Team__content .card__title {
    text-align: center;
    display: block;
    color: #E5554B;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#Team__content .card__date {
    text-align: center;
    display: block;
    font-size: 14px;
    color: #3C3C43;
}



.col-3,
.col-lg-4 {
    padding: 15px;
}
/*
*HOME
*/

.title {
    padding: 0 10px 20px 10px;
    font-weight: 100;
    font-size: 24px;
}
.btn {
    padding: 6px 12px;
    background-color: #FF4411;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: #FFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn:active{
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #FFF !important;
    text-decoration: none;
}



H2
{
    text-align: center;
    
}


.project__header{
    padding: 20px 15px;
    border-bottom: 1px solid #777;
}
.project__header h5 {
    float: left;
    color: #FF4411;
    line-height: 5px;
}

.project__header-actions {
    display: block;
    float: none;
    margin-top: 0;
    padding: 0;
    text-align: right;
}

#project-list {
    margin-bottom: 60px;
}

#project-list table tr td {
    padding: 15px 10px;
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    vertical-align: middle;
}

#project-list .label-primary,
.badge-primary {
    background-color: #FF4411;
    color: #FFFFFF;
}

.project__title a {
    font-size: 14px;
    color: #676a6c;
    font-weight: 600;
}
.project__actions .btn {
    background: #FFF;
    color: #666;

}
.project__actions a:hover {
    color: #676a6c !important;
}
.project__member img {
    width: 32px;
    height: 32px;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}


/*
* RESPONSIVE /// media queries
*/

@media screen and (min-width: 480px) {
    .login {
        margin: 40px auto;
        max-width: 500px;
        width: 400px;
    }
}

@media screen and (max-width:500px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
    #Team__content .card__img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 20px 0;
}
  #Team__content .btn {
    display: inline-block;
     width: 80px;
    height: 40px;
    padding: 6px 12px;
    margin: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

}
@media (max-width:767px)
{
    #bs-sidebar-navbar-collapse-1{
			width: 200px;
			height: 100%;
		
			z-index: 8000;
			margin-bottom: 0px;
		}
        
        .logoSogeti{
   
   width: 200px;
   margin-left: -15px;
}
}


@media (min-width: 768px) {
    .sidebar {
        width: 200px;
        height: 100%;
        /*position: fixed;
        top: 0;
        left: 0;
        bottom: 0;*/
    }
    .col-3 {
        width: 25%;
        display: inline-block;
    }
}

@media screen and (max-width:768px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media only screen and (max-width:970px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media (min-width: 1200px) {
    .col-lg-4 {
        width: 33.33333333%;
        float: left;
    }
}


	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
	@media (min-width: 768px) {
        
            .sidebar {
        width: 200px;
        height: 100%;
        overflow-x: hidden;
        /*position: fixed;
        top: 0; 
        left: 0;
        bottom: 0;*/
    }
    .col-3 {
        width: 25%;
        display: inline-block;
    }
}

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
            color: white;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: #999966;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text 
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: white;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
        
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px; 
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 50;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #808080;
		background-color: white;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}
    
    
    /*
* FOOTER *
*/

footer {
    padding-bottom: 20px;
    
    bottom:0;
    left:0;
    right:0;
    height:50px;
    color: #000;
    text-align: center;
    font-size: 18px;
}

.footer__language {
    margin-bottom: 20px;
    padding-bottom: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #FF4411;
    color: #777;
    font-size: 16px;
    cursor: pointer;
}

.footer__social {
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 20px;
}

.footer__social a {
    color: #FF4411;
}

.footer__social a:hover {
    color: #FF4411;
}

.footer__copyright {
    color: #666;
    font-size: 14px;
}

.footer__copyright a {
    text-decoration: none;
    color: #666;
}

.footer__copyright a:hover {
    color: #FF4411;
    text-decoration: none;
}

.col-3,
.col-lg-4 {
    padding: 15px;
}

