	<div class="row">
		<div class="col-sm-12">
			<h2>New project</h2><br>
			  <div class="container">
        	<form>
						<div class="col-sm-6">
							
							<div>
								<label for="Name">Name:</label>
        				<input type ="text" class="form-control">
							</div><br>
							
							<div>
								<label for="URL">URL:</label>
								<input type ="text" class="form-control" placeholder="http://URLversgestionnairedesource/localhost8080">
							</div><br>
							
							<div>
								<label for="Credential">Credential:</label>
								<input type ="text" class="form-control">
							</div><br>
							
							<div class="col-sm-6">
								<label for="Source">Source</label>
								<select name="Source">
									<option value="">Git</option>
									<option value="">Subversion</option>
									<option value="">CVS</option>
									<option value="">Free</option>
								</select>
							</div>
							
							<div class="col-sm-6">
								<label for="Source">Select type of project</label>
								<select name="Source">
									<option value="">Maven</option>
									<option value="">ANT</option>
									<option value="">FREE</option>
								</select>
							</div>
							
        		</div>
							
						<div class="col-sm-6">
								<label for="description">Description:</label><br>
        				<textarea class="col-sm-12 form-control" rows="11"></textarea>
        		</div>
						
						<div class="row">
							<input class="btn btn-warning col-sm-offset-6" type="submit" value="Create">
						</div>
						
					</form>
					
        </div>			  
			</div>
		</div>