<div class="container">
    <div class="row">
        <h2 class="title">{{'project.title' | translate}}</h2>
    </div>
    <div class="project__header">
        <h5>{{'project.subtitle' | translate}}</h5>
        <div class="project__header-actions">
            <a [routerLink]="['NewProjet']" class="btn">{{'project.new' | translate}}</a>
        </div>
    </div>
    <div id="project-list">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="project__status">
                        <span class="label label-primary">Active</span>
                    </td>
                    <td class="project__title">
                        <a href="project_detail.html">Contract with Zender Company</a>
                        <br>
                        <small>Created 14.08.2014</small>
                    </td>
                    <td class="project__completion">
                        <small>Completion 14.08.2015</small>
                    </td>
                    <td class="project__member">
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                    </td>
                    <td class="project__actions">
                        <a href="#" class="btn"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                </tr>
                <tr>
                    <td class="project__status">
                        <span class="label label-primary">Active</span>
                    </td>
                    <td class="project__title">
                        <a href="project_detail.html">There are many variations of passages</a>
                        <br>
                        <small>Created 11.08.2014</small>
                    </td>
                    <td class="project__completion">
                        <small>Completion 11.08.2015</small>
                    </td>
                    <td class="project__member">
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                    </td>
                    <td class="project__actions">
                        <a href="#" class="btn"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                </tr>
                <tr>
                    <td class="project__status">
                        <span class="label label-default">Unactive</span>
                    </td>
                    <td class="project__title">
                        <a href="project_detail.html">Many desktop publishing packages and web</a>
                        <br>
                        <small>Created 10.08.2014</small>
                    </td>
                    <td class="project__completion">
                        <small>Completion 10.08.2015</small>
                    </td>
                    <td class="project__member">
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                    </td>
                    <td class="project__actions">
                        <a href="#" class="btn"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                </tr>
                <tr>
                    <td class="project__status">
                        <span class="label label-primary">Active</span>
                    </td>
                    <td class="project__title">
                        <a href="project_detail.html">Letraset sheets containing</a>
                        <br>
                        <small>Created 22.07.2014</small>
                    </td>
                    <td class="project__completion">
                        <small>Completion 22.07.2015</small>
                    </td>
                    <td class="project__member">
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                    </td>
                    <td class="project__actions">
                        <a href="#" class="btn"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                </tr>
                <tr>
                    <td class="project__status">
                        <span class="label label-primary">Active</span>
                    </td>
                    <td class="project__title">
                        <a href="project_detail.html">Contrary to popular belief</a>
                        <br>
                        <small>Created 14.07.2014</small>
                    </td>
                    <td class="project__completion">
                        <small>Completion 14.07.2015</small>
                    </td>
                    <td class="project__member">
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                    </td>
                    <td class="project__actions">
                        <a href="#" class="btn"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                </tr>
                <tr>
                    <td class="project__status">
                        <span class="label label-primary">Active</span>
                    </td>
                    <td class="project__title">
                        <a href="project_detail.html">Contract with Zender Company</a>
                        <br>
                        <small>Created 14.08.2014</small>
                    </td>
                    <td class="project__completion">
                        <small>Completion 14.08.2015</small>
                    </td>
                    <td class="project__member">
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                    </td>
                    <td class="project__actions">
                        <a href="#" class="btn"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>