<header class="container-fluid">
    <img class="img-responsive" src="assets/img/logo.png">
</header>
<div class="login">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>{{'generic.welcome-title' | translate}}</h2>
        <form class="form-signin" role="form" (ngSubmit)="login(username.value, password.value)">
            <div class="form-group">
                <input type="text" #username id="username" class="form-control" placeholder="{{'login.username' | translate}}" required>
            </div>
            <div class="form-group">
                <input type="password" #password id="password" class="form-control" placeholder="{{'login.password' | translate}}" required>
            </div>
         
            <button class="btn" type="submit">{{'login.btn' | translate}}</button>
            <a href="#"><small>{{'login.forgot' | translate }}</small></a>
            
            <div class="login__error">{{msg}}</div>
        </form>
    </div>
</div>