<div class="container">
    <div class="row">
     <div class="col-xs-10 col-sm-10 col-md-10">
    <div class="create_member">
        <h2>Create a member</h2>
    </div>
   <div class="project__content">
        <form  class="form-horizontal" role="form" (ngSubmit)="CreateUser(username.value, idRole.value, password.value )">
            <div class="form-group">
                <label class="control-label" for="Name">Name:</label>
                <input type="text" #username ngcontrol = "username" class="form-control" placeholder="Name" required>
            </div>
                               
            
            <div class="form-group">
                <label class="control-label" for="role">role:</label>
                    <select class="form-control" #idRole >
                        <option value="" disabled="" selected="">Role</option>
                        <option *ngFor="let roles of roles_list" value="{{roles.idRole}}">{{roles.libelleRole}}</option>
                    </select>
                
            </div>
            <div class="form-group">
                <label class="control-label" for="password">password:</label>
                <input type="text" #password ngcontrol = "password" class="form-control" placeholder="password" required>
            </div>

             <div class="row">
                <div class="col-xs-offset-1 col-xs-4 col-sm-offset-2 col-sm-4"> 
                <button type="submit" class="btn">Submit</button>
                </div>
                <div class="col-xs-offset-2 col-xs-4  col-sm-4">       
                <button  class="btn">cancel</button>
                </div>      
            </div>     
        </form>
    </div>
  </div>
 </div>
</div>