<div class="container">

  <div class="row">
   <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="SetUser(username.value, role.value)">
        <div class="form-group">
        <input type="text" #username placeholder="username">
       </div>  
        <div class="form-group">
        <input type="text" #role placeholder="role">
        </div> 
    <div class="row">
        <div class="col-xs-offset-1 col-xs-4 col-sm-offset-2 col-sm-4"> 
        <button type="submit" class="btn">Submit</button>
        </div>
        <div class="col-xs-offset-2 col-xs-4  col-sm-4">       
        <button  class="btn">cancel</button>
        </div>      
    </div>       
     </form>
    </div>      
 </div>
</div>