<div class="container">
    
    <div class="project__header">
        <h2>Teams</h2>
        <div class="project__header-actions">
            <a [routerLink]="['CreateTeam']" class="btn">New</a>
        </div>
    </div>
    <div id="Team__content">
        <div class="row">
        <div class="  col-xs-8  col-sm-4 col-md-3" *ngFor="let user of users_list">
            <div class="card">
                <div class="card__img">
                    <img src="/assets/img/a4.jpg">
                </div>
                <div class="card__content">
                    <span class="card__title">{{user.username}}</span>
                    <small class="card__date">{{user.role}}</small>
                                    
                
                        <div  class="project__status"  *ngIf="user.status===true">
                                <span class="label label-primary">Active</span>
                        </div>  
                        <div  class="project__status"  *ngIf="user.status===false">
                                <span class="label label-primary">Disabled</span>
                        </div>          
                  </div>
                <div class="card__action">
                  
                        <a (click)="viewUser(user)" class="btn"><i class="fa fa-eye" aria-hidden="true"></i> View </a>
                                           
                        <a (click)="deleteUser(user)" class="btn"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Delete</a>  
                </div>
              </div>
            </div>
        </div>
      </div>
   
</div>