<div>
    <select class="footer__language" [ngFormControl]="language" (change)="changeLanguage(language.value)">
    <option value="" disabled="" selected="">{{'footer.language' | translate}}</option>
    <option value="EN">EN</option>
    <option value="FR">FR</option>
    </select>
</div>